@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=ZCOOL+QingKe+HuangYou&display=swap');

.quote{
  font-family: 'Poppins' !important;
  font-style: italic;
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  font-size: 2rem;
  transition: .2s ease;
  transform: .2s ease;
  visibility: hidden;
  cursor: pointer;
  overflow: hidden;
  animation: quote 60s linear;
}

.quote:hover{
  background-color: rgba(0,0,0,.6);
}

@keyframes quote {
  from{
    visibility: visible;
    transform: translateY(0);
  }
  to{
    transform: translateY(100vh);
    display: none;
  }
}