
.card-float .quote-card-main{
  animation: float calc(3.3s * var(--count))  linear infinite !important;
  width: 100%;
  transition: .2s ease !important;
}

@keyframes float{
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY( calc(-108% * var(--count) ));
  }
}