.app{
  width: 100%;
  z-index:  000;
  position: relative;
  object-fit: contain;
  max-inline-size: 100%;
  block-size: auto;

  .main-image{
    width: 100%;
    min-height: 100vh;
    pointer-events: none;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }

  .app-content{
    color: #fff !important;
    position:relative;
    overflow-y: hidden;
    padding-top: 100px;
  }
}

.card-float{
  animation-delay: var(--delay);
  position: absolute !important;
  transform: translate(-50%,-0%);
  left: 50%;
  top: 50%;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  animation: float 50s linear infinite;
}

input,textarea,select{
  background-color: rgba(0,0,0,.5);
}

.card-container{
  position: relative;
  overflow-y: hidden;
}

@keyframes float {
  0%{
    top: -80%;
  }

  100%{
    top:100%;
  }
}

a{
  color: rgba(255,255,255,.8) !important;
}
a:hover{
  color: rgba(255,255,255,1) !important;
}