.app{
  width: 100%;
  z-index:  000;
  position: relative;
  object-fit: contain;
  max-inline-size: 100%;
  block-size: auto;

  .main-image{
    width: 100%;
    min-height: 100vh;
    pointer-events: none;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }

  .app-content{
    color: #fff !important;
    position:relative;
    overflow-y: hidden;
    padding-top: 100px;
  }
}

.card-float{
  position: absolute !important;
  display: flex;
  width: 100%;
  gap: 20px;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  animation: float calc(5 * var(--speed)) linear infinite;
}

input,textarea,select{
  background-color: rgba(0,0,0,.5);
}

.card-container{
  position: relative;
  overflow-y: hidden;
}

@keyframes float {
  0%{
    transform: translateY(calc(var(--height) * -1));
  }

  99%{
    transform: translateY(10%);
  }
  100%{
    transform: translateY(calc(var(--height) * -1));
  }
}

a{
  color: rgba(255,255,255,.8) !important;
}
a:hover{
  color: rgba(255,255,255,1) !important;
}

.cursor {
  width: 40px;
  height: 40px;
  z-index: 19999990;
  background: url('/cursor.png') no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: .5;
  top: -8px;
  left: -8px;

}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  0% {
      transform: scale(1);
  }
  70% {
      transform: scale(1.4);
      border-color: white;
  }
  100% {
    transform: scale(1);
}
}

.expand {
  &::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    transform: scale(.2);
    animation: cursorAnim2 .3s linear;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
  
  }
}

@media screen and (max-width: 768px) {
  .cursor{
    display: none;
  }
}