.quote{
	background: rgba(0,0,0,.4);
	border-radius: 8px;
	border:1px solid rgba(113, 113, 113, 0.3);
	padding: 20px;
	color: #fff !important;
	display: flex;
	flex-direction: column;
	transition: .2s ease;
	height: 180px;
	gap: 4px;
	margin-bottom: 10px;
	cursor: pointer;

	&:hover{
		filter: brightness(70%);
	}

	p{
		color:var(--primary) !important;
	}
}
