.background{
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  height: 330px;
  background: rgba(0,0,0,.4);
  img{
    width: 100%;
    margin-top: 10px;
    object-fit: cover;
    height: 230px;
    cursor: pointer;
    border-radius: 20px;
    transition: .2s ease;
  }
  img:hover{
    filter: brightness(60%);
  }
}

.delete{
  margin-top: 20px;
}

.abort{
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: red;
  border: none;
  margin:20px;
}

.preview{
  width: 400px;
  border-radius: 20px;
}

.myform{
  padding:20px;
  background-color: rgba(0,0,0,.4);
  border-radius: 20px;
  color: #fff;
}