.navbar{
  background:transparent;
  position: absolute;
  width: 100%;
  z-index: 100000;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(77, 77, 77, 0.484);
  padding: 0 50px;

  ul li{
    cursor: pointer;
    color: #fff !important;
  }

  ul li a{
    cursor: pointer;
    color: #b9b9b9 !important;
  }

  ul li:active,ul li:focus{
    background-color: none !important;
  }

  ul li a.active{
    color: var(--primary) !important;
  }
}
nav .menu,.close{
  cursor: pointer;
  display: none;
}

@media screen and (max-width:800px) {
  nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 10px;
    color: #fff !important;
  }

  .close{
    position: absolute;
    top: 2%;
    display: block;
    right: 10%;
  }

  nav .sidenav{
    display: flex;
    visibility: hidden;
    font-size: 7vw;
    transition: .2s ease;
    position: fixed;
    justify-content: center;
    align-items: start;
    left: 0;
    top: 0;
    height: 0vh;
    flex-direction: column;
    background-color: rgba(0,0,0,1);
    width: 100%;
  }

  nav .sidenav .content{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding: 150px 20px;
    margin-bottom: 220px;
    margin-top: 20px;
  }

  nav .sidenav.active{
    visibility: visible;
    height: 100vh;
  }
}
